.form-container{
    border: none;
    border-radius: 3px;
    box-shadow: 0px 5px 5px 4px rgba(0,0,0,0.48);
    justify-content: center;
    margin:10px auto ;
    -moz-box-shadow: 0px 5px 5px 4px rgba(0,0,0,0.48);
    width: 40%;
    -webkit-box-shadow: 0px 5px 5px 4px rgba(0,0,0,0.48);
}
.input-container{
    margin:10px;
    height: 40px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.btn.btn-primary{
    color: white;
    text-align: center;
    margin: 8px;
    border-radius: 3px;
}
.cardBody{
    display: flex;
    align-items: center;
    margin: auto;
    width: 70%;
    text-align: start;
}

.cardBody p {
    margin: auto;
    align-content: center;
    width: 120%;
    align-items: center;
}
.btn-checkout{
    margin-right: 40px;
}

.btn-edit, .btn-delete{
    justify-content: center;
    align-items: center;
}
.btn{
    border:none;
    background: none;
}
.modal-container{
    width: 50%;
    margin: 3px auto;
}
.modal-container input{
    width: 50%;
    margin: 5px;
    border: 1px solid rgb(107, 45, 177);
    border-radius: 3px;
}
.modal-container button{
    border: 1px solid rgb(107, 45, 177);
    border-radius: 3px;
    background: none;
    margin: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .navbar {
        width: 100%;
    }

    .form-container{
        width: 90%;
    }
    .cardBody{
        width: 100%;
    }
}